[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Open In Emacs Magit
Icon=emacs
# Example: Icon=text-editor
 
[X-Action-Profile profile_id]
MimeTypes=inode/directory
Exec=emacsclient -c -a 'emacs' --eval '(magit "%f")'
# Example: Exec=gedit %f
