[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Open As Root
Icon=pcmanfm-qt
# Example: Icon=text-editor
 
[X-Action-Profile profile_id]
MimeTypes=inode/directory
Exec=gksudo pcmamfm-qt %f
# Example: Exec=gedit %f
